.contador {
    min-width: 300px;
    height: 300px;
    font-size: 160px;
    padding: 25px;
    color: #9b9b9b;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: center;
    border: 8px solid #9b9b9b;
    margin-bottom: 15px;

}